<div *ngIf="showPost" class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Great!</strong> New Post Has been Created.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6 m-4 mx-auto">
      <div class="card ">
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <h2 class="text-center grey-text py-3">
              Add Post
            </h2>
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input
                type="text"
                id="form31"
                ngModel
                name="userId"
              />
              <label style="margin-top: -24px;">Your Id</label>
            </div>
            <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <input
                type="text"
                id="form321"
                ngModel
                name="title"
              />
              <label style="margin-top: -24px;">Title</label>
            </div>
            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea
                type="text"
                id="form81"
                class="md-textarea"
                style="height: 100px"
                ngModel
                name="body"
              ></textarea>
              <label style="margin-top: -24px;">Message</label>
            </div>
            <div class="text-center">
              <button class="btn btn-outline-black grey-text" type="submit">
                Post
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6 m-4 mx-auto">
      <h1>Preview</h1>
      <div *ngIf="showPost" class="card posts mb-4 p-2" style="width: 34rem;">
        <div class="card-body">
          <h5 class="card-title">
            <strong> {{ post.title }} </strong>
          </h5>
          <p class="card-text">
            {{ post.body }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex align-items-center flex-column">

</div>
