<div class="container">
  <div class="row">
    <div class="col-md-6 m-4 mx-auto">
      <div class="card ">
        <div class="card-body">
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <h2 class="text-center grey-text py-3">
              Add Post
            </h2>
            <div class="md-form">
              <i class="fa fa-user prefix grey-text"></i>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="post.userId"
                name="userId"
              />
              <label style="margin-top: -24px;">Your Id</label>
            </div>
            <div class="md-form">
              <i class="fa fa-tag prefix grey-text"></i>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="post.title"
                name="title"
                placeholder="Title"
              />
              <label style="margin-top: -24px;">Title</label>
            </div>
            <div class="md-form">
              <i class="fa fa-pencil prefix grey-text"></i>
              <textarea
                type="text"
                class="md-textarea"
                style="height: 100px"
                [(ngModel)]="post.body"
                name="body"
              ></textarea>
              <label style="margin-top: -24px;">Message</label>
            </div>
            <div class="text-center">
              <button class="btn btn-outline-black grey-text" type="submit">
                Post
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container d-flex align-items-center flex-column">
  <div *ngIf="showPost" class="card posts " style="width: 50rem;">
    <div class="card-body">
      <h5 class="card-title">
        <strong>id:{{ post.id }} {{ post.title }} </strong>
      </h5>
      <p class="card-text">
        {{ post.body }}
      </p>
    </div>
  </div>
</div>
