<div class="container d-flex align-items-center flex-column">
  <div
    class="card posts "
    style="width: 50rem;"
    *ngFor="let post of postsArray"
  >
    <a [routerLink]="['/posts', post.id]">
      <div class="card-body">
        <h5 class="card-title">
          <strong>id:{{ post.id }} {{ post.title }} </strong>
        </h5>
        <p class="card-text">
          {{ post.body }}
        </p>
        <p>
          <a [routerLink]="['/edit-post', post.id]"
            ><i class="material-icons"> border_color </i></a
          >
        </p>
      </div>
    </a>
  </div>
</div>
